body {
background-color: #FFE8E8;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

hr {
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 20%;
}
